<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scape New Data</a></p>
    </div>
  

    <!-- Mars info-->

    <div class="row" id="mars-info">
      <div class="col-md-12">
        <h1 style="font-weight:bold" >Latest Mars News</h1> 
        <h2 style="font-weight:bold;font-size: 12px;">{{mars.news_title}}</h2> 
        <p>{{mars.news_p}}</p> 
      </div>
    </div>
    
    <!--Table into-->
    <div class="col-md-4">
      <h2>Mars Facts</h2>
       {{mars.marsdata | safe}}
    </div>

    <!--Pictures title-->
  

    <section id="lower" class="">
      <div class="row mt-5">
          <div class="col-md-12 text-center">
              <h2>Mars Hemispheres</h2><hr>
          </div>

      {% for hemi in hemisphere_image_urls %}
      <div class="col-md-6">
          <figure class="figure">
              <img class="figure-img img-fluid my-1" src="{{ hemi.img_url }}">
              <figcaption class="figure-caption"><h4>{{ hemi.title }}</h4></figcaption>
          </figure>
      </div>
      {% endfor %}
  </section>

    
    


  

 
</body>
</html>