<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

  
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scape New Data</a></p>
    </div>
  

    <!-- Mars info-->

    <div class="row" id="mars-info">
      <div class="col-md-12">
        <h1 style="font-weight:bold" >Latest Mars News</h1> 
        <h2 style="font-weight:bold;font-size: 20px;">{{mars.news_title}}</h2> 
        <p>{{mars.news_p}}</p> 
      </div>
    </div>

    <!--Featured Images -->

    <div class="col-md-7">
      <h3 style="font-weight:bold;font-size: 20px">Featured Mars Image</h3>
        <img class= "figure-img img-fluid rounded" src="{{ mars.featured_image }}"" style="width:650px;height:400px;border:0;">
        <br>
    </div>

   
    <!--Table into-->

    <div class="col-md-5">
      <h3 style="font-weight:bold;font-size: 18px">Mars Facts</h3>
       {{mars.marsdata | safe}}
        <br>
    </div>
    
    <div class="col-md-12">
      <br>
      <br>
      <p style="text-align:center;font-weight:bold;font-size: 25px">Mars Hemispheres</p>
    </div>

    <!--Hemisphere-->
    {% for hemi in mars.hemisphere_image_urls %}
    <div class="col-md-6">
        <figure class="figure">
            <img class= "figure-img img-fluid rounded" src="{{ hemi.img_url }}"" style="width:500px;height:400px;border:0;">
            <figcaption class="figure-caption"><h4>{{ hemi.title }}</h4></figcaption>
        </figure>
    </div>
    {% endfor %}
    
  </div>
  
</body>
</html>